/********************NAVBAR***************************/

/*

*/
/****************HELPER CLASSES*******************/
a{
    text-decoration: none;
}

img{
    width: 100%;
}
.card{
    background: #fff;
    padding: 1rem;
}

.text-align{
    text-align: justify;
}
.btn-general{
	font-family: 'Popins','Roboto Slab';
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	margin: 0 6px;
	border: #000;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	transition: all .4s;
}

.btn-gradient{
	color: #fff;
	background-size: 200%;
	background-image: linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
}

.cont{
    max-width: 100%;
    overflow: auto;
    margin: 9 auto;
    padding: 0 2rem;
}

.text-center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.p-opacity{
    opacity: .8;
}
/**************NAVBAR SECTION************************/
#navbar{
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #333;
}
#navbar ul{
    display: flex;
    align-content: center;
    align-items: center;
    list-style: none;
} 

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul .fa{
    padding: .75rem;
}

/********************HEADER SHOWCASE*******************/


#header-section .header-container{
    background: url('../images/header-photos/header-photo-1.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#header-section .overlay h1{
    margin: 0!important;
}

#header-section .overlay .btn-general{
	font-family: 'Popins','Roboto Slab';
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	margin: 0 6px;
	border: #000;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	transition: all .4s;
}
#header-section .overlay .btn-gradient{
	color: #fff;
	background-size: 200%;
	background-image: linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
}

/******************END OF HEADER SECTION**************/


/*****************ABOUT PAGE***********************/

/**************CHARITY SECTION********************/

#charity-sec .charity-container{
    display: grid;
    grid-template-columns: 500px 300px 300px;
    grid-gap: 1rem;
    outline: none;
    position: relative;
}

#charity-sec .charity-container .charity-card{
    grid-column: 1/span 1;
    border:none;
}

#charity-sec .charity-container .charity-card:nth-child(2){
    grid-column: 2/span 1;
}

#charity-sec .charity-container .charity-card:nth-child(3){
    grid-column: 3/span 1;
    position: absolute;
    top: 0%;
}
#charity-sec .charity-container .h2-text{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

#charity-sec .charity-container .p-text{
    color: orange;
    font-size: 1rem;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 100;
}

#charity-sec .charity-container .h5-text{
    font-size: .9rem;
    color: #333;
    opacity: .8;
    font-family: 'Poppins', sans-serif;
}

#charity-sec .charity-container .vol-img{
    width: 300px;
    height: 370px;
    overflow: hidden;
}

/***********************VIDEO SECTION*****************/
#vid-page{
    background-color: #F0F0FA;
    position: relative;
}

#vid-page .vid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    position: relative;
    
}

#vid-page .vid-container .vid-card{
    grid-column: 1/span 1;
    border: none;
    background-color: #F0F0FA;
}

#vid-page .vid-container .vid-card:nth-child(2){
    grid-column: 2/span 1;
}

#vid-page .vid-container .vid-card:nth-child(3){
    grid-column: 3/span 1;
}

#vid-page .vid-container .vid-card .vid-img{
    width: 70px;
    height: 60px;
    margin-bottom: 30px;
    position: absolute;
    top: 60px;
    left: 50px;
}

#vid-page .vid-container .vid-card .h6-text{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

#vid-page .vid-container .pos{
    margin-left: 130px;
}

#vid-page .vid-container .vid-card .p-text{
    opacity: .7;
    font-size: .8rem;
}

#vid-page .home-bg-video{
    width: 700px;
    margin-left: 25%;
    margin-top: 100px;
    background: #ffa500;
}


#vid-page .fa{
    position: absolute;
    top: 28%;
    left: 47%;
    color: #fff;
}

#vid-page .fa:hover{
    cursor: pointer;
}
/***************VOLUNTEERS SECTION*********************/

#vol-sec {
    margin-top: 150px;
    
}
#vol-sec .vol-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

#vol-sec .vol-container .vol-card{
    grid-column: 1/span 1;
    border: none;
}

#vol-sec .vol-container .vol-card:nth-child(2){
    grid-column: 2/span 1;
/*    overflow: hidden;*/
}

#vol-sec .vol-container .vol-card:nth-child(3){
    grid-column: 3/span 1;
}

#vol-sec .vol-container .vol-card:nth-child(4){
    grid-column: 4/span 1;
}

#vol-sec .vol-container .vol-card .v-img{
    width: 220px;
    height: 245px;
    border-radius: 5px;
    overflow: hidden;
}

#vol-sec .vol-container .vol-card .v-img:hover{
    cursor: pointer;
    background-color: orange;
}

#vol-sec .vol-container .vol-card .h5-text{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif!important;
}

#vol-sec .vol-container .p-text{
    font-size: .7rem;
    font-weight: 300;
    text-transform: capitalize;
}

#vol-sec  .h2-text{
    font-family: 'Roboto Slab', sans-serif !important;
    font-size: 1.5rem;
    font-weight: 500;
}

/********************QUOTES SECTION************************/

#quo-sec .quo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

#quo-sec .quo-container .quo-card{
    grid-column: 1/span 1;
}

#quo-sec .quo-container .quo-card:nth-child(2){
    grid-column: 2/span 1;
}

#quo-sec .quo-container .quo-card:nth-child(3){
    grid-column: 3/span 1;
}

#quo-sec .quo-container .quo-card .ques-img{
    width: 85px;
    height: 65px;
    margin: 30px 50px 5px;
}

#quo-sec .quo-container .quo-card .text{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    opacity: .8;
}

#quo-sec .quo-container .quo-card .h-text{
    margin-left: 30px!important;
    font-family: 'Roboto Slab', sans-serif;
    
}

#quo-sec .bk-img{
    background: url('../images/world-map.jpg') no-repeat center center/cover;
    overflow: hidden;
    height: 80vh;
}